<%= form_with(model: haikouille, local: true, html: {id: "new_haikouille"}) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :haikouille_title %>
  </div>

  <div class="field">
    <%= form.label :first %>
    <%= form.text_field :first, id: :haikouille_first, class: "js-paragraph" %>
  </div>

  <div class="field">
    <%= form.label :second %>
    <%= form.text_field :second, id: :haikouille_second, class: "js-paragraph" %>
  </div>

  <div class="field">
    <%= form.label :third %>
    <%= form.text_field :third, id: :haikouille_third, class: "js-paragraph" %>
  </div>

  <div class="actions">
    <%= form.submit data: { disable_with: false } %>
  </div>
<% end %>
